// /////////////////////////
// @@ HEADER BRANDING
// ////////////////////////

.r-header {

  &__branding {
    margin-bottom: $margin-b;

    @include mq(desktop) {
      position: fixed;
      min-height: 100vh;
      background-image: url("../images/logo_accent-two-clr.png");
    }
  }

}

.r-branding {

  &__title {
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-color: map-get($colors, accent-two);
    padding: 2rem 0;
    color: map-get($colors, accent);
    text-align: center;

    @include mq(desktop) {
      
    }
  }

  &__slogan {
    text-align: center;
  }
}